
body {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: white;
    border: 2px white ;
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    
}
#qaz {
    background-color: yellow;
    padding: 5px;
    margin: 5px;
}
#qwas1 {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
}
#qwas2 {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
#qwas3 {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}